.git
.github
.azure
.local
**/.env
**/.env.*
!**/.env*.example
!**/.env*.template
**/.next
**/.pnpm-store
**/.pytest_cache
**/.venv
**/__pycache__
**/node_modules
coverage
docs
playwright-report
test-results
